<footer>
  <div class="social">
    <a
      href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&to=shrutishambhawi@gmail.com"
      target="_blank"
      rel="noreferrer noopener"
      ><i class="fas fa-envelope"></i>
      <!-- <p>shrutishambhawi@gmail.com</p> -->
    </a>
    <a
      href="https://www.linkedin.com/in/shrutishambhawi231/"
      target="_blank"
      rel="noreferrer noopener"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a
      href="https://www.instagram.com/sshambhawi1/"
      target="_blank"
      rel="noreferrer noopener"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      href="https://twitter.com/SShambhawi"
      target="_blank"
      rel="noreferrer noopener"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      href="https://www.facebook.com/shruti.shambhawi"
      target="_blank"
      rel="noreferrer noopener"
      ><i class="fab fa-facebook-f"></i
    ></a>
  </div>
  <br />
  <strong
    >copyright &copy;2022 dsa-search-engine-ss. designed by Shruti Shambhawi
    <br />Deployed on 31stMay 2022</strong
  >
</footer>
