<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Public/styles.css" />
    <style>
      p {
        font-size: 50px;
      }
    </style>
    <title>Error Page</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <p>
      Oops! This Page Dose Not Exists
      <br /><br /><img src="./logo6.jpg" alt="Sad to inform" />
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
